export source_language="de",
export target_language="es",
export keep_moving_down="yes",
export target_type="yml",
export auth_key="",
export proxy_enable="no",
export proxy_type="socks5",
export proxy_host="127.0.0.1",
export proxy_port="9050"
